* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow: hidden;
    border: none;
}

html {
    background-color: rgb(255, 238, 228);
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-home{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    background-color: rgb(38, 38, 38);
    color: rgb(245, 222, 179);
}
.container-text-home{
    width: 100%;
    height: 100%;
    grid-column: 2/12;
    grid-row: 1/5;
    font-size: 2rem;
    align-items: flex-start;
}
.container-image-home{
    width: 100%;
    height: 100%;
    grid-column: 1/13;
    grid-row: 5/13;
 

}
.img-home{
    width: 100%;
    height: 100%;
    background-image: url('./img/photo.png');
    background-size: cover;
    z-index: 2;

}