* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgb(255, 240, 229);
    list-style: none;    
    border: none;
}

html {
    background-image: linear-gradient(rgb(52, 52, 52), rgb(73, 73, 100));
}

div {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#my-scrollbar {
    width: 100vw;
    height: 100vh;
  }
  .container-nav {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 50px;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(230, 203, 169, 0.226);
    backdrop-filter: blur(10px);
    z-index: 5;
  }

.container-home {  
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    color: rgb(245, 222, 179);
    background-image: linear-gradient(rgb(52, 52, 52), rgba(0, 0, 255, 0));
}

.container-text-home {
    grid-column: 2/12;
    grid-row: 1/5;
    font-size: 2rem;
    align-items: flex-start;
    z-index: 3;
}

.container-image-home {
    grid-column: 1/13;
    grid-row: 5/13;
}

.img-home {
    background-image: url('./img/photo.png');
    background-size: cover;
    z-index: 2;
}

.container-pages {
    width: 100vw;
    height: 100vh;
    display: grid;
    color: rgb(205, 186, 149);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-image: linear-gradient(rgb(52, 52, 52), rgba(0, 0, 255, 0));
}

.title-about {
    grid-column: 2/12;
    grid-row: 1/3;
    font-size: 2.5rem;
}

.container-secction {
    grid-column: 2/12;
    grid-row: 3/7;
    font-size: 1.5rem;
}

.container-image-about {
    grid-column: 2/12;
    grid-row: 8/12;
}

.image-about {
    background-image: url('./img/ventana.jpg');
    background-size: cover;
    background-position-x: -50px;
}

.container-secction-proyects {
    grid-column: 2/12;
    grid-row: 3/12;
}

.images-proyects {
    margin: 10px;
    background-color: rgba(184, 206, 216, 0.678);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.container-secction-skills {
    grid-column: 1/13;
    grid-row: 3/12;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards-skills {
    width: 100px;
    height: 100px;
    margin: 2px;
    background-color: wheat;
}

/* Reponsive */

@media (min-width: 481px) {
    .container-secction-proyects {
       flex-direction: row;
    }

    .container-image-home {
        grid-column: 5/13;
        grid-row: 1/13;
        background-size: cover;
    }

    .container-text-home {
        grid-column: 2/12;
        grid-row: 3/11;
        font-size: 2rem;
        align-items: flex-start;
    }

    #ball {
        margin-top: -250px;
        margin-right: -50px;
    }
}

@media (min-width: 900px) {
 
   nav {
        display: none;
    }

    .footer {
        display: none;
    }

    .container-text-home {
        font-size: 3.5rem;
    }

    #ball {
        padding: 75px;
        margin-top: -200px;
        right: 200px;
    }

    .container-image-home {
        grid-column: 6/13;
        grid-row: 1/13;
        background-size: cover;
    }
}